body {
	background-color:rgb(200,200,200);
}
header, footer {
	padding: 1em;
	text-align: center;
}

#header-list {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
#header-li{
	float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

h1 {
	color:black;
	text-align:center;
	border: 1px solid black;
}
h2 {
	color:black;
	padding:10px;
}
p { 
	color:black;
}
div.country{
	background-color:rgb(152,251,150);
	color: black;
	margin: 20px 0 20px 0;
	padding: 10px;
}
table,th,td{
	border:1px solid black;
	text-align:center;
	width:40%;
	border-collapse:collapse;
	padding: 10px;
	background-color:white;
}
